@import "tailwindcss";

@theme {
  --font-sans: "Kanit", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  background-color: #0C0C0C;
  color: #D7E2EA;
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-heading {
  background: linear-gradient(180deg, #FFFFFF 0%, #8A9199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-btn-grad {
  background: linear-gradient(123deg, #18011F 7%, #B600A8 37%, #7621B0 72%, #BE4C00 100%);
  box-shadow: 0px 4px 4px rgba(181, 1, 167, 0.25), inset 4px 4px 12px #7721B1;
}
